body {
    min-height: 100svh;
    display: flex;
    justify-content: center;
    background-color: var(--bg-purple);
}

.banner-login {
    width: 200px;
    height: auto;
    margin-top: 80px;

}
.container {
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.form-container{
    margin-top: 80px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 40px 40px 0 0;
    padding: 40px 30px;
}
.form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.form-group {
    display: flex;
    align-items: center;
    gap: 10px;
}
.form-group input {
    flex: 1;
    padding: 14px;
    border-radius: 12px;
    border: 1px solid #E2E8F0;
    width: 250px;
    padding: 10px;
    border: 1px solid var(--Extended-blue-gray-200, #E2E8F0);

    border-radius: 8px;
    font-size: 16px;
}
.button-login {
    border-radius: 32px;
    margin-top: 20px;
}