:root {
  --bg-purple: #CCCCFF;
  --color-purple2: #8C45BF;
  --color-purple3: #CCCCFF;
  --color-text1: #1B2125;
  --color-yellow: #FFD869;
  --color-white: #FFFFFF;
  --color-success: #A1EEBD;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--color-text1);
}
button {
    cursor: pointer;
    border: none;
    font-family: 'Maven Pro', sans-serif;
    width: 100%;
    height: 52px;
    border-radius: 32px;
    font-size: 18px;
}

.container {    
    overflow: hidden;
}


.button{
    width: 100%;
    padding: 12px;
    background-color: var(--color-purple2);
    color: var(--color-white);
    font-size: 18px;
    font-weight: 600;
}