body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-image {
    width: 319px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
}
.button-welcome{
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);

    background-color: var(--color-white);
    color: var(--color-purple2);
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    border-color: var(--color-text1);
    width: 325px;
    height: 56px;
    border-radius: 32px;

}